body,
html {
  margin: 0;
  padding: 0;
  font-family: "Tahoma", sans-serif;
  background: linear-gradient(to bottom right, #6a0572, #c71585);
  color: #fff;
  height: 100%;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.mnemonic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mnemonic-container:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.mnemonic {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ffeb3b;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1.5s ease-in-out;
}

button {
  background: linear-gradient(45deg, #8e44ad, #c71585);
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: linear-gradient(45deg, #c71585, #8e44ad);
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.send-button {
  background: linear-gradient(45deg, #9b59b6, #e91e63);
}

.send-button:hover {
  background: linear-gradient(45deg, #e91e63, #9b59b6);
}
